        
        <!DOCTYPE html>
   <html>
   <head>
   <style> 
#myDIV {
    height: 200px;
    background-color: lightblue;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {margin: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {margin: 50px;}
}
</style>
</head>
<body>
	<% provide(:title, 'About Us') %>
	<div id="myDIV">
        <h1>About Us</h1>
        <p>
         This is ManyuXu' project about fitness,

          if you have any questions you can connect her.
         
        </p>
        <p>Good Luck!</p>
        







</body>
</html>