/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  *Ôºè
body 
{
background-image:url('paper.gif');
background-color:#000000;
}
