<footer class="footer">
      <small>
        The <a href="https://www.google.ie/search?q=%E5%81%A5%E8%BA%AB%E9%A5%AE%E9%A3%9F%E6%90%AD%E9%85%8D&sa=X&rlz=1C5CHFA_enIE665IE665&espv=2&biw=1440&bih=689&tbm=isch&tbo=u&source=univ&ved=0ahUKEwiAgKnK9sfJAhWChg8KHRu5BaYQsAQIPA&dpr=1">Healthy diet tie-in images</a>
        
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </footer>